.titolo h1 {
  color: #29B1DD;
}

header h6 {
  font-size: 18px;
}

.submenu {
  background-color: #29B1DD;
}

main .container {
  background-color: #DDDDDD;
}

main .box {
  background-color: #F5F5F5;
  height: 120px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .8);
}

main i {
  font-size: 35px;
}