.titolo h1 {
  color: #29B1DD;
}

.submenu {
  background-color: #29B1DD;
}

main .container {
  background-color: #DDDDDD;
}

main .box {
  background-color: #29B1DD;
  height: 100px;
  width: 200px;
}

main i {
  font-size: 35px;
}


